
 @-webkit-keyframes EndOfTheInternet {
     0%{background-position:0% 50%}
     50%{background-position:100% 50%}
     100%{background-position:0% 50%}
 }
 @-moz-keyframes EndOfTheInternet {
     0%{background-position:0% 50%}
     50%{background-position:100% 50%}
     100%{background-position:0% 50%}
 }
 @-o-keyframes EndOfTheInternet {
     0%{background-position:0% 50%}
     50%{background-position:100% 50%}
     100%{background-position:0% 50%}
 }
 @keyframes EndOfTheInternet {
     0%{background-position:0% 50%}
     50%{background-position:100% 50%}
     100%{background-position:0% 50%}
 }
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url("https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTRampu5_7CjHW5spxoeN3Vs.woff2") format("woff2");
}

body {
    overflow-x: hidden;
    overflow-y: hidden;

    background: linear-gradient(270deg, #ff00ac, #ffe900, #3ae900, #18c1cf);
    background-size: 800% 800%;

    -webkit-animation: EndOfTheInternet 33s ease infinite;
    -moz-animation: EndOfTheInternet 33s ease infinite;
    -o-animation: EndOfTheInternet 33s ease infinite;
    animation: EndOfTheInternet 33s ease infinite;

    cursor: pointer;

}


p{
  color: #dfdfdf;
  text-align: center;
  font-family: "Open Sans",Arial,sans-serif;
  font-size: 25px;
  font-weight: 300;
  letter-spacing: 3px;
  line-height: 0.8;
  text-transform: uppercase;
  width: 100%;

  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  -o-user-select: none;
  user-select: none;
}


.box{
   height: 125px;
   width: 131px;
   position: absolute;
   right: -131px;
   -webkit-user-select: none; /* Chrome/Safari */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* IE10+ */

   -o-user-select: none;
   user-select: none;
}
